/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .logo img {
    height: 65px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-center: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
 html, body {
  height: 80%; /* Set the height of the page to 100% */
}

.row {
  height: 100%; /* Set the height of the row to 100% */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the row vertically */
}

.column {
  flex-basis: 33.33%;
  text-align: center;
}

.column img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 14px;
  color: #666;
  text-align: center;
}

figcaption h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

figcaption p {
  font-size: 14px;
  color: #666;
  text-align: center;
}
